.parentDiv {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbotHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #f1f1f1;
}

.chatbotTitle {
    font-size: 1rem;
}

.chatbotButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    background-color: #F57528;
    color: white;
    border: none;
    border-radius: 1.5625rem;
    cursor: pointer;
    font-size: 0.65rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}


.chatbotModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DBE2EF;
    border: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chatbotCloseButton {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #333;
    z-index: 1000;
}

.chatbotMessages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.message {
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text */
    padding: 1rem;
    box-sizing: border-box;
    flex-direction: column;
}

.messageUser {
    display: none;
    background-color: #F57528;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 0.25rem;
}

.messageBot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    flex-direction: column;
}

.chatbotInput {
    display: flex;
    padding: 0.7rem;
    background-color: #f1f1f1;
    border-top: 0.0625rem solid #e0e0e0; 
}

.chatbotInputInput {
    flex: 1;
    padding: 0.5rem 0.5rem; 
    border: 0.0625rem solid #ccc; 
    border-radius: 1.25rem;
    margin-right: 0.625rem; 
    font-size: 0.75rem;
    outline: none
}

.chatbotInputButton {
    padding: 0.3rem 0.8rem; 
    background-color: #F57528;
    color: white;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.chatbotInputButton > span{
    font-size: 0.65rem;
}

.loader {
    z-index: 9999;
    border: 0.1875rem solid #f3f3f3; 
    border-top: 0.1875rem solid #F57528;
    border-radius: 50%;
    width: 0.5rem; 
    height: 0.5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.md * {
    margin-top: 0;
    text-wrap : wrap;
}

.buttonGroup {
    padding-bottom: 0.9375rem;
    display: flex;
    gap: 0.625rem; 
    justify-content: flex-start;
    margin-top: 1rem; 
}

.yesButton, .noButton {
    width: 3.75rem; 
    padding: 0.5rem 1rem; 
    margin-right: 0.625rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.306);
    border-radius: 0.3125rem; 
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #ffffff;
    color: #000000;
}


.contactForm {
    width: 8.5rem;
    display: flex;
    flex-direction: column;
}

.contactForm input {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    font-size: 0.65rem;
}

.contactForm input:focus-visible{
    outline: none;
}

.submitButton {
    padding: 0.5rem 1rem; 
    border-radius: 0.3125rem; 
    border: 0.0625rem solid rgba(0, 0, 0, 0.306); 
    cursor: pointer;
    font-size: 0.65rem; 
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #ffffff;
    color: #000000;
}
